<!DOCTYPE html>
<html ng-app="blog">
<head>
    <title>My web application</title>
    <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
<link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
   <div class="container">
     <nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           <span class="icon-bar"></span></button>
           <p><a class="navbar-brand" href="https://github.com/RoberNedelcu/AWJ/tree/master/awj-base-project-master">AWJ Base Project</a></p>
         </div>

         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
             <li><a href="https://github.com/RoberNedelcu/AWJ/blob/master/awj-base-project-master/spring-java-app/initial/src/main/java/hello/models/Persoana.java">Resource 1</a> - Persoana</li>
             <li><a href="https://github.com/RoberNedelcu/AWJ/blob/master/awj-base-project-master/spring-java-app/initial/src/main/java/hello/models/Film.java">Resource 2</a> - Film</li>
             <li><a href="https://github.com/RoberNedelcu/AWJ/blob/master/awj-base-project-master/spring-java-app/initial/src/main/java/hello/models/Computer.java">Resource 3</a> - Computer</li>
           </ul>
         </div>
       </div>
     </nav>
   </div>

   <hr/>

  <div class="container">
    <div ng-controller="HomeController">
      <h1>{{ helloWorld }}</h1>
       <p>Writing this live into the browser...</p>
     </div>
   </div>

   <hr/>

   <!-- /resources1 -->
   <div class="container" ng-controller="HomeController">

       <h1>Persoane</h1>

       <h2>Listeaza toate persoanele</h2>

       <table class="table table-bordered">
           <tr>
               <th ng-repeat="field in fields">{{field | uppercase}}</th>
               <th style="width:210px;">OPTIONS</th>
           </tr>
           <tr ng-repeat="persoana in persoane" data-id="{{persoana.id}}">
               <td>{{ persoana.id }}</td>
               <td>{{ persoana.name }}</td>
               <td>{{ persoana.age }}</td>
               <td>
                   <a href="">
               <span class="label label-success">
                 Open
                 <span class="glyphicon glyphicon-folder-open"></span>
               </span>
                   </a>
                   <a href="">
                       <button ng-click="setUpdatePerson(persoana)" class="btn btn-info btn-xs">
                           Edit
                           <span class="glyphicon glyphicon-edit"></span>
                       </button>

                   </a>
                   <a href="">
                       <button ng-click="deletePersoana(persoana.id)" class="btn btn-danger btn-xs">
                           Remove
                           <span class="glyphicon glyphicon-remove"></span>
                       </button>
                   </a>
               </td>
           </tr>
       </table>

       <div class="row">
           <div class="col-md-3">
               <h2>Editeaza persoana</h2>

               <form action="" method="">
                   <div class="form-group">
                       <label for="attribute1">ID</label>
                       <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editPerson.id">
                   </div>
                   <div class="form-group">
                       <label for="attribute2">NUME</label>
                       <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editPerson.name">
                   </div>
                   <div class="form-group">
                       <label for="attribute3">AGE</label>
                       <input type="text" class="form-control" id="attribute3" placeholder="AGE" ng-model="editPerson.age">
                   </div>
                   <button type="submit" class="btn btn-info" ng-click="updatePerson()">Save</button>
               </form>
           </div>


           <div class="col-md-3 col-md-offset-6">
               <h2>Adauga o persoana</h2>

               <form action="" method="">
                   <div class="form-group">
                       <label for="attribute1">ID</label>
                       <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="persoana.id">
                   </div>
                   <div class="form-group">
                       <label for="attribute2">NUME</label>
                       <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="persoana.name">
                   </div>
                   <div class="form-group">
                       <label for="attribute3">AGE</label>
                       <input type="text" class="form-control" id="attribute3" placeholder="AGE" ng-model="persoana.age">
                   </div>

                   <button ng-click="addPersoana(persoana)" class="btn btn-success">Add</button>
               </form>
           </div>
       </div>

   </div>

   <hr/>


   <!-- /resources2-->
   <div class="container" ng-controller="FilmController">

       <h1>Filme</h1>

       <h2>Listeaza toate filmele</h2>

       <table class="table table-bordered">
           <tr>
               <th ng-repeat="field in fields">{{field | uppercase}}</th>
               <th style="width:210px;">OPTIONS</th>
           </tr>
           <tr ng-repeat="film in filme" data-id="{{film.id}}">
               <td>{{ film.id }}</td>
               <td>{{ film.denumire }}</td>
               <td>{{ film.rating }}</td>
               <td>
                   <a href="">
               <span class="label label-success">
                 Open
                 <span class="glyphicon glyphicon-folder-open"></span>
               </span>
                   </a>
                   <a href="">
                       <button ng-click="setUpdateFilm(film)" class="btn btn-info btn-xs">
                           Edit
                           <span class="glyphicon glyphicon-edit"></span>
                       </button>

                   </a>
                   <a href="">
                       <button ng-click="deleteFilm(film.id)" class="btn btn-danger btn-xs">
                           Remove
                           <span class="glyphicon glyphicon-remove"></span>
                       </button>
                   </a>
               </td>
           </tr>
       </table>

       <div class="row">
           <div class="col-md-3">
               <h2>Editeaza film</h2>

               <form action="" method="">
                   <div class="form-group">
                       <label for="attribute1">ID</label>
                       <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editFilm.id">
                   </div>
                   <div class="form-group">
                       <label for="attribute2">DENUMIRE</label>
                       <input type="text" class="form-control" id="attribute2" placeholder="DENUMIRE" ng-model="editFilm.denumire">
                   </div>
                   <div class="form-group">
                       <label for="attribute3">RATING</label>
                       <input type="text" class="form-control" id="attribute3" placeholder="RATING" ng-model="editFilm.rating">
                   </div>
                   <button type="submit" class="btn btn-info" ng-click="updatePerson()">Save</button>
               </form>
           </div>


           <div class="col-md-3 col-md-offset-6">
               <h2>Adauga un film</h2>

               <form action="" method="">
                   <div class="form-group">
                       <label for="attribute1">ID</label>
                       <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="film.id">
                   </div>
                   <div class="form-group">
                       <label for="attribute2">DENUMIRE</label>
                       <input type="text" class="form-control" id="attribute2" placeholder="DENUMIRE" ng-model="film.denumire">
                   </div>
                   <div class="form-group">
                       <label for="attribute3">RATING</label>
                       <input type="text" class="form-control" id="attribute3" placeholder="RATING" ng-model="film.rating">
                   </div>

                   <button ng-click="addFilm(film)" class="btn btn-success">Add</button>
               </form>
           </div>
       </div>

   </div>

   <hr/>

   <!-- /resources3 -->
   <div class="container" ng-controller="ComputerController">

       <h1>Computers</h1>

       <h2>List all computers</h2>

       <table class="table table-bordered">
           <tr>
               <th ng-repeat="field in fields">{{field | uppercase}}</th>
               <th style="width:210px;">OPTIONS</th>
           </tr>
           <tr ng-repeat="computer in computers" data-id="{{computer.id}}">
               <td>{{ computer.id }}</td>
               <td>{{ computer.brand }}</td>
               <td>{{ computer.model }}</td>
               <td>
                   <a href="">
               <span class="label label-success">
                 Open
                 <span class="glyphicon glyphicon-folder-open"></span>
               </span>
                   </a>
                   <a href="">
                       <button ng-click="setUpdateComputer(computer)" class="btn btn-info btn-xs">
                           Edit
                           <span class="glyphicon glyphicon-edit"></span>
                       </button>

                   </a>
                   <a href="">
                       <button ng-click="deleteComputer(computer.id)" class="btn btn-danger btn-xs">
                           Remove
                           <span class="glyphicon glyphicon-remove"></span>
                       </button>
                   </a>
               </td>
           </tr>
       </table>

       <div class="row">
           <div class="col-md-3">
               <h2>Editeaza computer</h2>

               <form action="" method="">
                   <div class="form-group">
                       <label for="attribute1">ID</label>
                       <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editComputer.id">
                   </div>
                   <div class="form-group">
                       <label for="attribute2">BRAND</label>
                       <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editComputer.brand">
                   </div>
                   <div class="form-group">
                       <label for="attribute3">MODEL</label>
                       <input type="text" class="form-control" id="attribute3" placeholder="AGE" ng-model="editComputer.model">
                   </div>
                   <button type="submit" class="btn btn-info" ng-click="updateComputer()">Save</button>
               </form>
           </div>


           <div class="col-md-3 col-md-offset-6">
               <h2>Add a computer</h2>

               <form action="" method="">
                   <div class="form-group">
                       <label for="attribute1">ID</label>
                       <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="computer.id">
                   </div>
                   <div class="form-group">
                       <label for="attribute2">BRAND</label>
                       <input type="text" class="form-control" id="attribute2" placeholder="BRAND" ng-model="computer.bramd">
                   </div>
                   <div class="form-group">
                       <label for="attribute3">MODEL</label>
                       <input type="text" class="form-control" id="attribute3" placeholder="MODEL" ng-model="computer.model">
                   </div>

                   <button ng-click="addComputer(computer)" class="btn btn-success">Add</button>
               </form>
           </div>
       </div>

   </div>

   <hr/>

   <hr/>
   <div class="container">
     <footer class="footer">
       <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
       <p class="text-muted pull-right">Nedelcu Stefan-Robert, 334AA</p>
     </footer>
</div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  </body>
  </html>
